body
{
	margin: 0;
	padding: 0;
	background-color: #A9DCE3;
	overflow-x: hidden;
}

.logoimgStyle
{
	width: 70px;
	float: left;
	position: absolute;
}

h1
{
	font-family: arial black;
	color: #7689DE;
	text-align: left;
	margin: 0;
	padding: 10px;
}

nav
{	
	margin: 0 auto;
	text-align: center;
}

a
{
	text-decoration: none; 
	color: #ffff;
	font-size: 18px;
	font-family: arial;
}

.NavBar ul ul li
{
	z-index: 999;
	position: relative;
}

.NavBar ul
{
	list-style: none;
	list-style-type: none; 
	margin: 0;
 	padding: 0;
 	background-color: #7689DE;
 	text-align: center;
}

.NavBar li
{
	display: inline-block; 
}

.NavBar a
{
  	display: block;
 	color: white;
 	text-align: center;
 	width: 100px;
 	padding: 25px 20px;
 	text-decoration: none;
 	font-weight: bold;
}

.NavBar li a:hover
{
	background-color: #ffff;
	color: #7689DE;
}

.Navbar a 
{
	color: #ffff;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 18px;
	padding: 20px 25px;
}

.NavBar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #7689DE;
    text-align: center;
    width: 100%;
}

.NavBar li
{
    display: inline-block; 
    text-align: center;
}

.NavBar ul li 
{
}

.NavBar ul li a 
{
      
    color: white;
    display: block;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    font-family: arial;
    font-weight: bold;
}

.NavBar a:hover
{
    background: ;
}

.NavBar ul li ul
{
    background: #7689DE;
    display: none;
}

.NavBar ul li ul li 
{
 	float: none;
}

.NavBar ul li:hover ul 
{
    display: block;
}

.TopBar
{
	position: absolute;
	top: 19px;
	right: 40px;
}

.TopBar ul
{
	list-style: none;
	list-style-type: none; 
	margin: 0;
 	padding: 0;
 	overflow: hidden;
 	text-align: center;
}

.TopBar li
{
	display: inline-block; 
}

.TopBar a
{
	display: block;
 	color: white;
 	text-align: center;
 	width: 70px;
 	padding: 5px 6px;
 	text-decoration: none;
 	font-weight: bold;
}

.TopBar .loginStyle
{
	color: #7689DE;
}

.TopBar .regStyle
{
	color: #7689DE;
}

.indexStyle
{
	position: absolute;
	top: 200px;
	width: 80%;
}

.indexStyle p
{
	margin: 0 0 0 570px;
	font-family: arial;
	color: #7689DE;
	font-size: 18px;
}

.indexStyle .logoimgStyle
{
	position: absolute;
	width:250px;
	margin: 0 0 0 300px;
}

.productImg
{
	width: 400px;
	border: 5px solid white;
	border-radius: 5px;
}

.homeStyle
{
	text-align: center;
}

.homeStyle .homeLink
{
	background-color: #7689DE;
	text-align: center;
	color: #ffff;
	border: 10px solid #7689DE;
	border-radius: 3px;
}

.homeStyle a
{
	font-size: 18px;
	font-family: arial;
	font-weight: bold;
}

.aboutStyle
{
	position: absolute;
	z-index: -999;
	overflow: hidden;
	width: 500px;
	margin: 0 0 0 400px;
	top: 160px;
}

.aboutStyle h2
{
	font-family: arial black;
	color: #7689DE;
	font-size: 30px;
}

.aboutStyle p
{
	font-family: arial;
	color: #7689DE;
	font-size: 18px;
}

.shopStyle
{
	position: absolute;
	z-index: -999;
	top: -5px;
}

.CStyle
{
	position: absolute;
	background-color: #ffff;
	width: 600px;
	top: 114px;
	border-left: 50px solid white;
	border-top: 30px solid white;
}

.AStyle
{
	position: absolute;
	background-color: #ffff;
	width: 600px;
	top: 114px;
	margin: 0 0 0 630px;
	border-top: 40px solid white;
	border-right: 50px solid white;
}

.BStyle
{
	position: absolute;
	background-color: #ffff;
	width: 600px;
	top: 580px;
	border-top: 50px solid white;
	border-left: 50px solid white;
}

.DStyle
{
	position: absolute;
	background-color: #ffff;
	width: 600px;
	top: 580px;
	margin: 0 0 0 630px;
	border-top: 80px solid white;
	border-right: 50px solid white;
}

.EStyle
{
	position: absolute;
	background-color: #ffff;
	width: 600px;
	top: 1070px;
	border-top: 50px solid white;
	border-left: 50px solid white;
}

.FStyle
{
	position: absolute;
	background-color: #ffff;
	width: 600px;
	top: 1070px;
	margin: 0 0 0 630px;
	border-top: 36px solid white;
	border-right: 50px solid white;
}

.GStyle
{
	position: absolute;
	background-color: #ffff;
	width: 600px;
	top: 1530px;
	border-top: 51px solid white;
	border-left: 50px solid white;
}

.HStyle
{
	position: absolute;
	background-color: #ffff;
	width: 600px;
	top: 1530px;
	margin: 0 0 0 630px;
	border-top: 38px solid white;
	border-right: 50px solid white;
}

.more
{
	position: absolute;
	top: 1700px;
}

.shopStyle button
{
	background-color: #A9DCE3;
  	border: none;
  	color: #7689DE;
  	padding: 10px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 13px;
  	font-family: arial;
  	font-weight: bold;
}

.ProductsNavBar
{
	list-style: none;
	background: #7689DE;
}

ul li
{
	display: inline;
	position: relative;
}

.contactusStyle h2
{
	font-family: arial black;
	color: #7689DE;
	text-align: center;
	position: relative;
	top: 70px;
}

.contactusStyle p
{
	color: #7689DE;
}

.contactStyle
{
	position: absolute;
	top: 250px;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

.phone
{
	background-color: #ffff;
	position: relative;
	height: 250px;
	width: 350px;
	border-radius: 5px;
	font-family: arial;
	margin: 0 20px;
}

.phone h3
{
	position: relative;
	top: 10px;
	color: #A9DCE3;
}

.phone p
{
	color: #7689DE;
}

.email
{
	background-color: #ffff;
	position: relative;
	height: 250px;
	width: 350px;
	border-radius: 5px;
	font-family: arial;
	margin: 0 20px;
}

.email h3
{
	position: relative;
	top: 10px;
	color: #A9DCE3;
}

.email p
{
	color: #7689DE;
}

.customer
{
	background-color: #ffff;
	position: relative;
	height: 250px;
	width: 350px;
	border-radius: 5px;
	font-family: arial;
	margin: 0 20px;
}

.customer p
{
	color: #7689DE;
}

.customer h3
{
	position: relative;
	top: 10px;
	color: #A9DCE3;
}

.support
{
	background-color: #7689DE;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 20px;
	border-radius: 5px;
	font-family: arial;
}

.cartwishouterDiv
{
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: -999;
	position: relative;
}

.cartwishlistStyle 
{
	text-align: center;
	position: relative;
	top: 90px;
	background: #ffffff;
	width: 400px;
	padding: 25px 0;
	border-radius: 10px;
}

.cartwishlistStyle .imgwish
{
	width: 300px;
}

.cartwishlistStyle h1
{
	text-align: center;
	font-size: 25px;
}

.cartwishlistStyle p
{
	color: #7689DE;
	font-family: arial;
	position: relative;
	top: -15px;
}

.cartwishlistStyle .cartwishlista
{
	color: white;
	font-weight: bold;
	background-color: #7689DE;
	padding: 8px 12px;
	font-size: 15px;
	border-radius: 4px;
	position: relative;
	top: -10px;
}

.imgcart
{
	width: 150px;
}

.regloginouter
{
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: -999;
}

.reglogininner
{
	text-align: center;
	position: relative;
	top: 100px;
	background: #ffffff;
	width: 350px;
	padding: 15px 0;
	border-radius: 10px;
	border: 2px solid #7689DE;
}

.reglogininner h1
{
	text-align: center;
}

.reglogininner label
{
	font-family: arial;
	font-size: 15px;
	color: #7689DE;	
}

.reglogininner p
{
	font-family: arial;
	font-size: 15px;
	color: #7689DE;	
}

.reglogininner .regnow
{
	color: black;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	color: #7689DE;	
}

input[type=text]
{
	width: 250px;	
	border: none;
	border-bottom: 1px solid #7689DE;
}

.reglogininner button
{
	font-family: arial;
	font-size: 15px;
	border: none;
	background-color: #A9DCE3;
	padding: 8px 15px;
	border-radius: 3px;
	color: #7689DE;
	font-weight: bold;
}

.reglogininner .loginnow
{
	color: black;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	color: #7689DE;	
}

.bottomspaceReg
{
	position: relative;
	top: 200px;
	color: #A9DCE3;
}


